@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-green-50;
  }
}

.grid-max {
  grid-template-columns: min-content 1fr;
}

.ticks {
  writing-mode: vertical-lr;
}

.ticks > option {
  transform: rotate(-90deg);
  padding-top: 2px;
}
